<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="de.jcup.egradle.launchConfigurationType">
<stringAttribute key="options" value=""/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PropertyReceiver"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="projectName" value="PropertyReceiver"/>
<stringAttribute key="tasks" value="build"/>
</launchConfiguration>
